# Airtable Configuration
# Get PAT from https://airtable.com/account/personal-access-tokens
NEXT_PUBLIC_AIRTABLE_BASE_ID=your_base_id_here
NEXT_PUBLIC_AIRTABLE_TABLE_NAME=Movies
AIRTABLE_PAT=your_personal_access_token_here
